<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Ingrese Codigo de seguridad</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list no-lines>

   
    <ion-grid>
      <ion-row class="ion-align-items-center">
       
        <ion-col size="12" class="ion-text-center">
          <div class="coming-soon">
            <div class="time-countdown">
                <ul>
                    <li class="count-bg-four radius"><span id="seconds">{{_segundos}}</span>Segundos</li>
                </ul>
            </div>
        </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
       
        <ion-col size="12" class="ion-text-center">
          <ion-input type="text" [(ngModel)]="tokenSeguridad" name="email" required="true" placeholder="Ingrese codigo    "></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
       
        <ion-col size="12" class="ion-text-center">
         
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
       
        <ion-col size="12" class="ion-text-center">
          <ion-button color="success" (click)="verificar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-list>

  
  

</ion-content>
